body {
    margin: 0;
    padding: 0 auto;
}
@media only screen and (max-device-width: 480px) {  

    #borrowform{
        font-size: 50px;
    } 
    #fname{
      font-size: 30px;  
    }
    #lname{
        font-size: 30px;
    }
    #ename{
        font-size: 30px;
    }
    #email{
        font-size: 30px;
    }
    .contact{
        font-size: 30px;
    }
    .calendar{
        width: 400px;
        height:100px;
    }
    
}
/* Nav */
.dropdown {
    position: relative;
    display: inline-block;
    color: white !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
nav {
    padding: 10px;
    width: 100%;
    display: block;
    background-color: grey;
    ;
}
nav a {
    text-decoration: none;
    color: white !important;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* End of Nav */