body{
	margin:0;
	
}

.bg {
    background-image: url("../../global/bg.jpg");
    opacity: .2;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}
@media only screen
and (min-device-width : 450px)
and (max-device-width : 768px)
{
	nav {
		padding: 10px 0;
		width: 100%;
		display: block;
		background-color: grey;
		font-size:1px;
	}
}

/* Nav */
.dropdown {
    display: inline-block;
    color: white !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
}
.dropdown-content a {
	display: block;
}
.dropdown-content a:hover {
	background-color: darkgrey;
}
.dropdown:hover .dropdown-content {
    display: block;
	
}
nav {
    padding: 10px 0;
    width: 100%;
    display: block;
    background-color: grey;
    font-size:12px;
}
nav a {
    text-decoration: none;
    color: white;
	padding:10px 20px;
	
}
nav a:hover {
	text-decoration: none;
	
}
.active {
	background-color: #192050;
    color: white;
	border-radius
}
nav a:hover:not(.active) {
	background-color: #555;
    color: white;
} 
/* End of Nav */