body{
	margin:0;
}

.bg {
    background-image: url("../../global/bg.jpg");
    opacity: .2;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.container{
	width:90%;
	margin:auto;
}
.table{
	overflow:auto;
	width:100%;
	table-layout: fixed;
	margin:auto;
	text-align:center;
	border: 1px solid black;
}
td, th {
	font-size:15px;	
	overflow:auto;
	padding:5px;
}
/* Nav */
.dropdown {
    display: inline-block;
    color: white !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
}
.dropdown-content a {
	display: block;
}
.dropdown-content a:hover {
	background-color: darkgrey;
}
.dropdown:hover .dropdown-content {
    display: block;
	
}
nav {
    padding: 10px 0;
    width: 100%;
    display: block;
    background-color: grey;
    ;
}
nav a {
    text-decoration: none;
    color: white !important;
	padding:10px;
	
	
}
nav a:hover {
	text-decoration: none;
	
}
/* End of Nav */