body{margin:0;}
.container{
	width:90%;
	margin:auto;
}
.table{
	resize:both;
	overflow:auto;
	width:100%;
	table-layout: fixed;
	margin:auto;
	text-align:center;
	border: 1px solid black;
}
td {
	resize: both;
	font-size:9px;	
	overflow:auto; //Equality
	border: 1px solid black; 
	
}
th {
	resize: both; 
	font-size:9px;
	
}
/* Nav */
.dropdown {
    display: inline-block;
    color: white !important;
    
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
}
.dropdown-content a {
display: block;
}
.dropdown-content a:hover {
background-color: darkgrey;
}
.dropdown:hover .dropdown-content {
display: block;

}
nav {
padding: 10px;
width: 100%;
display: block;
background-color: grey;
;
}
nav a {
text-decoration: none;
color: white !important;
padding:10px;


}
nav a:hover {
text-decoration: none;

}
/* End of Nav */
