
.container { margin-top:150px;}
.red {
	background-color: red; 
}
/* select Button */
.select {
    background-color: #4CAF50;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}




/* The container <div> - needed to position the dropdown content */
.select {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.select-content {
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
